<!DOCTYPE html>
<html lang="en" ng-app="Main" class="no-js">
<head>
	<meta charset='utf-8'>
	<title>Webshop</title>
	<!-- jQuery -->
	<script type="text/javascript" src="./js/jquery/jquery-1.11.2.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/bootstrap-theme.min.css">
	<script src="./js/bootstrap/bootstrap.min.js"></script>
</head>
<body ng-controller="MainController">
	<!-- CART -->	
	<div ng-controller="cartController" class="table-responsive">
		<div class="col-md-2 pull-right">

			<h4>Din kurv:</h4>
			{{cartStatus}}
			<p>
				<b data-toggle="modal" data-target="#cart"><span class="glyphicon glyphicon-shopping-cart"></span> Vis kurv</b>
			</p>
			<p>
				<b><a ng-href="#/checkout/">Gå til checkout</a></b>
			</p>
		</div>	
	</div>
	<!-- /CART -->

	<div class="table-responsive">
		<!-- VIEW -->
		<div ng-view></div>
		<!-- /VIEW -->
	</div>

	<!-- MODAL OVERLAY CART -->
	<div class="modal fade" id="cart">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Din kurv indeholder:</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover table-condensed">
						<tr ng-repeat="item in cart">
							<td>
								<button ng-click="delProd(item)" class="btn">
									<span class="glyphicon glyphicon-remove-sign"></span>
								</button>
								<button ng-click="lessProd(item)" class="btn">
									<span class="glyphicon glyphicon-minus-sign"></span>
								</button>
								<img ng-src="{{item.product.prodImg}}" width="35" />
								<button ng-click="moreProd(item)" class="btn">
									<span class="glyphicon glyphicon-plus-sign"></span>
								</button>
							</td>
							<td>{{item.product.prodTitle}}</td>
							<td>{{item.amount}} &times; {{item.product.prodPrice}}.- =</td>
							<td>{{item.amount * item.product.prodPrice}} .-</td>
						</tr>
						<tr>
							<td colspan="3"><h4>Total:</h4></td>
							<td><b>{{ cartTotal }}.-</b></td>
						</tr>
						<tr><td colspan="5">&nbsp;</td></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /MODAL OVERLAY CART -->

	<!-- Angular JS -->
	<script type="text/javascript" src="./js/angular/angular.min.js"></script>
	<script type="text/javascript" src="./node_modules/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="./app/app.module.js"></script>
	<script type="text/javascript" src="./app/cart/cart.controller.js"></script>
	<script type="text/javascript" src="./app/cart/cart.service.js"></script>
	<script type="text/javascript" src="./app/products/products.controller.js"></script>
	<script type="text/javascript" src="./app/products/products.service.js"></script>
	<script type="text/javascript" src="./app/products/product.controller.js"></script>
</body>
</html>
<!--
	TODO:
		- omskrive til lokale scopes / rootScope
		- skrive services om til Niels´s forslag på GitHub
			- hvad skal der i cartService ?
				- metoder til ???

		- checkbox på kategorier

		- knap til checkout
		- route til checkout

	3. It shall be possible to buy a product and put it into a cart. The cart shall be visible at the page.
	4. It shall be possible to view (open) the content of the cart.

	5. It shall be possible to go to a checkout page and conclude the order (part 2)

-->